<div class="account__login"><% if (title) { %>
    <h1 class="account__login--header"> <%= title %></h1>
<% } else {
    res.redirect('/')
}%>
    <%- messages() %>


<% if (errors) { %>
        <ul class="notice--error">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

<form class="account__login--container" id="loginForm" action="/acc/login" method="post">
    <label for="account_email">Email: </label><br>
    <input type="email" id="account_email" name="account_email" autofocus required value="<%= locals.account_email %>"><br>
    <label for="account_password">Password: </label><br>
    <input type="password" id="account_password" name="account_password" required><br>
    <button type="submit">Submit</button>
</form>
    <p>No Account? <a href="/acc/register">Sign Up</a></p>
</div>
