<% if (title) { %>
    <h1 class="car__review--title"> <%= title %></h1>
<% } else {
    res.redirect('/')
}%>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice--error">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="car--grid">
    <h2 class="car__review--title">Welcome <%- locals.accountData.account_firstname %></h2>
    <p>You're logged in.</p>

</div>

