<h1>Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="car">

    <div class="car__type">
        <%- include('partials/car/type.ejs') %>
    </div>
    <div class="car--grid">
    <div class="car__review">
        <%- include('partials/car/review.ejs') %>
    </div>

    <div class="car__upgrade">
        <%- include('partials/car/upgrade.ejs') %>
    </div>
    </div>

</div>


