@import url("https://fonts.googleapis.com/css2?family=Bangers&family=David+Libre&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #ffffff;
  font-family: "David Libre", serif;
}
body p, body li, body a {
  color: #ffffff;
  font-family: "Megrim", cursive;
}

.siteName a {
  font-family: "David Libre", serif;
}

/**********BASE**********/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h6 {
  font-size: 0.6rem;
}
@media only screen and (min-width: 600px) {
  h6 {
    font-size: calc(0.6rem + 2vw);
  }
}

h5 {
  font-size: 0.84rem;
}
@media only screen and (min-width: 600px) {
  h5 {
    font-size: calc(0.6rem + 2vw);
  }
}

h4 {
  font-size: 1.08rem;
}
@media only screen and (min-width: 600px) {
  h4 {
    font-size: calc(0.6rem + 2vw);
  }
}

h3 {
  font-size: 1.32rem;
}
@media only screen and (min-width: 600px) {
  h3 {
    font-size: calc(0.6rem + 2vw);
  }
}

h2 {
  font-size: 1.56rem;
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: calc(0.6rem + 2vw);
  }
}

h1 {
  font-size: 1.8rem;
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: calc(0.6rem + 2vw);
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgb(24, 0, 255) 0%, rgb(0, 0, 0) 0%, rgb(89, 73, 73) 100%, rgb(89, 73, 73) 100%);
  color: #ffffff;
}
body main {
  display: flex;
  flex-direction: column;
}
body #wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
body img {
  display: block;
  max-width: 100%;
  height: auto;
}
body h1 {
  padding: 0.8rem 0.3rem 0.8rem;
  margin: 0.5rem 0 0.3rem;
}
body ul, body tbody {
  padding: 0.4rem 0.5rem 0.5rem;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(90, 87, 87) 90%);
}
body p, body li, body tr {
  padding: 0.2rem 0.2rem 0.2rem;
  font-size: 0.9rem;
}
body figure {
  display: block;
  margin: 1em auto;
  text-align: center;
  max-width: 100%;
}
body input, body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
}
body input.input--error, body textarea.input--error {
  border-color: red;
}
body label {
  padding: 10px 0;
  display: block;
}
body .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .pad-1 {
  padding: 1em;
}
@media only screen and (min-width: 600px) {
  body {
    background: url("../../images/site/checkerboard.jpg");
  }
  body #wrapper {
    margin: 1rem 2.5rem 2.5rem;
    background: linear-gradient(180deg, rgb(24, 0, 255) 0%, rgb(0, 0, 0) 0%, rgb(89, 73, 73) 100%, rgb(89, 73, 73) 100%);
    border: 5px solid #19191c;
    padding: 0.3rem;
  }
  body p, body li, body a, body button, body td {
    font-size: calc(0.9rem + 0.4vw);
  }
  body ul, body tbody {
    padding: 0.5rem 0.8rem 0.5rem;
  }
  body p {
    padding: 1rem;
  }
  body h1, body .siteName {
    padding: 0.9rem;
  }
}
@media only screen and (min-width: 1000px) {
  body #wrapper {
    margin: 1rem 3.5rem 3.5rem;
  }
  body p, body li, body a, body td {
    font-size: calc(1rem + 0.8vw);
  }
  body h1 {
    padding: calc(1rem + 0.8vw);
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
nav ul li {
  color: #19191c;
}

footer p {
  font-size: x-small;
  padding: 0.4rem;
}
@media only screen and (min-width: 1000px) {
  footer p {
    font-size: smaller;
  }
}

header {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0.4rem 1.4rem;
}
header #tools {
  padding: 1rem;
  font-size: calc(0.4rem + 0.2vw);
}
header .siteName a {
  text-decoration: none;
  font-weight: bold;
}
.notice {
  font-style: italic;
  background: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
  list-style-type: none;
  border: 0.1px #ffffff solid;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  display: flex;
}
.notice__text {
  flex: 1;
}
.notice--success {
  background: rgb(122, 187, 120);
  background: linear-gradient(180deg, rgb(122, 187, 120) 0%, rgb(7, 60, 17) 99%);
}
.notice--error {
  background: rgb(158, 72, 72);
  background: linear-gradient(180deg, rgb(158, 72, 72) 0%, rgb(129, 44, 44) 68%);
}
.notice--info {
  background: rgb(129, 126, 114);
  background: linear-gradient(180deg, rgb(129, 126, 114) 0%, rgb(0, 0, 0) 99%);
}

.account__login {
  background: linear-gradient(180deg, rgb(24, 0, 255) 0%, rgb(0, 0, 0) 0%, rgb(89, 73, 73) 100%, rgb(89, 73, 73) 100%);
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  align-self: center;
}
.account__login--header {
  background: #19191c;
  border-bottom: 0.1px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.account__login--container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.account__login button {
  justify-self: center;
  border-radius: 30px;
  background: #ffffff;
  padding: 5px;
}

/**********CAR**********/
.car {
  display: block;
  flex-direction: column;
  /****REVIEW****/
  /****TYPE****/
  /****UPGRADE****/
}
.car--grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .car--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "upgrade review";
  }
}
.car--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.car__review {
  grid-area: review;
  margin: 1rem;
}
.car__review--title {
  font-weight: bold;
  margin-left: -2px;
}
.car__review--title tr th {
  font-size: 1rem;
}
.car__review--list {
  background: transparent;
  list-style: inherit;
}
.car__review--list li {
  padding: 0.4em;
}
.car__review--list tr td {
  padding: 0.3em;
}
.car__type {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.car__type--img {
  justify-self: center;
}
.car__type--info {
  position: absolute;
  opacity: 0.9;
  background: #19191c;
  padding: 0.5rem;
}
@media only screen and (min-width: 600px) {
  .car__type--info {
    left: 10%;
  }
}
.car__type--info h3 {
  font-weight: bold;
}
.car__type--info ul {
  background: transparent;
}
.car__type--info ul li {
  padding: 0.1em;
}
.car__type--info button {
  background: #ffffff;
  margin: 0.5rem;
}
.car__upgrade {
  grid-area: upgrade;
  margin: 1rem;
}
.car__upgrade--title {
  font-weight: bold;
}
.car__upgrade--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5em;
}
.car__upgrade--list figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car__upgrade--list figure picture {
  width: 5rem;
  height: 5.1rem;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  border: 6px solid #19191c;
}
.car__upgrade--list figure figcaption {
  margin-top: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
