<% if (title) { %>
    <h1 class="car__review--title"> <%= title %></h1>
<% } else {
    res.redirect('/')
}%>
<%- messages() %>
<div class="car__review">
    <hr>
    <a href="/inv/type">Add New Classification</a>
    <br>
    <br>
    <a href="/inv/detail">Add New Inventory</a>
    <hr>
    <br>
    <div class="car__review">
        <h2 class="car__review--title">Manage Inventory</h2>
        <%- classification_options %>
        <br>
        <br>
        <table id="inventoryDisplay" class="car">

        </table>
    </div>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>