.account__login {
  background: $brown;
  border: 1px solid $white;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: $shad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  align-self: center;

  &--header {
    background: $black;
    border-bottom: .1px solid $white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
  &--container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  button {
    justify-self: center;
    border-radius: 30px;
    background: $white;
    padding: 5px;
  }

}

.account {
  width: 100%;
  &__th--pad {
    padding-left: .8rem;
  }
  thead {
    border: 1px solid $black;
    th {
      color: $white;
    }
  }
  table {
    width: 100%;
  }
  tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  tr {
    display: flex;
    width: 100%;
    border: 1px solid $black;
  }
  td, th {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}