
header {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0.4rem 1.4rem;

  #tools {
    padding: 1rem;
    font-size: calc(.4rem + .2vw)
  }

  .siteName a {
    //font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    //padding: 5rem 3rem 0rem .4rem;
  }

  @include MQ(M) {

    }



}