<div class="car__type--info">
    <h3>DMC Delorean</h3>
    <ul>
        <li>3 Cup holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy dice!</li>
    </ul>
    <button>Own Today</button>
</div>
<img class="car__type--img" src="images/vehicles/delorean.jpg" alt="Silver DMC Delorean">
