<h4 class="car__upgrade--title">Delorean Upgrades</h4>
<div class="car__upgrade--list">
    <figure>
        <picture>
            <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
        </picture>
        <figcaption>
            <a>Flux Capacitor</a>
        </figcaption>
    </figure>
    <figure>
        <picture>
            <img src="images/upgrades/flame.jpg" alt="Flame Decals">
        </picture>
        <figcaption>
            <a>Flame Decals</a>
        </figcaption>
    </figure>
    <figure>
        <picture>
            <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        </picture>
        <figcaption>
            <a>Bumper Stickers</a>
        </figcaption>
    </figure>
    <figure>
        <picture>
            <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </picture>
        <figcaption>
            <a>Hub Caps</a>
        </figcaption>
    </figure>
</div>